{% extends '_layout/dashboard/layout.twig' %}

{% block title %}Gérer les rôles utilisateur{% endblock %}

{% block body %}

    <div class="section--admin">
        <div class="container">
            <div class="admin-content">
                {{ include('dashboard/_notifications.twig') }}
                <div class="columns">
                    <div class="column">
                        <div class="card-custom">
                            <div class="card-header"><h2>Ajouter un rôle utilisateur</h2></div>
                            <div class="card-body">
                                <div class="title-form">
                                    <h2>Détails du rôle</h2>
                                </div>
                                <div class="admin-form">
                                    <form method="post" action="#">
                                        {{ include('ausers/admin/roles/_form.twig') }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card-custom">
                            <div class="card-body">
                                {% if roles is empty %}
                                    {{ viewAlert("info", "Il n'y a aucun rôle d'enregistré pour le moment") | raw }}
                                {% else %}
                                    <table class="table-custom">
                                        <thead>
                                        <tr>
                                            <th>R.ID</th>
                                            <th>Dénomination</th>
                                            <th>Slug</th>
                                            <th>Level</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in roles %}
                                            <tr>
                                                <td class="text-center">{{ item.id }}</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.slug }}</td>
                                                <td>{{ item.level }}</td>
                                                <td>
                                                    <button class="btn-table btn-danger trigger" data-modal-trigger="confirm-modal-{{ item.id }}"><i class="icofont-trash"></i></button>
                                                    <a href="{{ item.urlAdmin }}" class="btn-table btn-info"><i class="icofont-edit"></i></a>
                                                    <!-- /modal -->
                                                    <form method="post" action="/admin/ausers/role/delete" style="display:inline-block;">
                                                        <input type="hidden" name="id" value="{{ item.id }}">
                                                        {% include 'dashboard/_modal.twig' with {'id': item.id, 'title': item.title}   %}
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                                {{ viewAlert("info", "<strong>10</strong> étant le level le plus haut") | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
