{% extends 'layout_mail.twig' %}

{% block body %}
    Token : {{ token }}<br>
    user ID : {{ id }}<br>
    Adresse email de votre compte : {{ user_mail }}<br>
    Lien de réinitialisation : <a href="{{ viewJsonSetting.app_url }}/init-password/{{ token }}/{{ id }}" title="Réinitialiser mon mot de passe">Réinitialiser mon mot de passe</a>
    <br>
    <strong>Si vous n'avez pas demandé de réinitialiser votre compte utilisateur, ne prenez pas en compte ce message.</strong>
{% endblock %}