{% if client is empty %}
    {{ viewAlert('danger', "Erreur : <strong>aucun client en base de données</strong>.<br>") | raw }}
    <a class="btn btn-info" href="/admin/add-client" title="Ajouter mon premier client">Ajouter un client</a>
{% else %}
    <div class="columns">
        <div class="column col-sm-12">
            <div class="card-custom">
                <div class="card-body">
                    <div class="card-header"><h2>Informations sur l'équipement</h2></div>
                    <div class="admin-form">
                        <div class="columns">
                            <div class="column col-sm-12">
                                {{ form.input('name', "Nom de l'équipement", false, '', '', true) | raw }}
                                {{ form.select('brand_id', 'Marque', brands) | raw }}
                                {{ form.select('operating_systems_id', 'Système d\'exploitation', operating) | raw }}
                                {{ form.select('category_equipment_id', 'Type', categories) | raw }}
                            </div>
                            <div class="column col-sm-12">
                                {{ form.input('serialnumber', "Numéro de série", false) | raw }}
                                {{ form.input('numberproduct', "Numéro de produit", false) | raw }}
                                {{ form.input('year', "Année", false) | raw }}
                                {{ form.input('licence_os', "Licence OS", false) | raw }}
                            </div>
                        </div>
                        {{ form.textareaMde('content', "Détail de l'équipement (composants)", false, 'Configuration matériel. Ajoutez 3 espaces après chaque élément + retour à la ligne.', true) | raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-sm-12">
            <div class="card-custom">
                <div class="card-body">
                    <div class="card-header">
                        <h2>Client et status</h2>
                    </div>
                    {% if withclient == 1 %}
                        <div class="recent-default-single" style="margin-bottom:2em;">
                            <a href="/admin/edit-client/{{ client.id }}">
                                <div class="recent-default-flex">
                                    <div class="recent-d-img"><i class="icofont-user"></i></div>
                                    <div class="recent-d-ctn">
                                        <h2>{{ client.fullname }}</h2>
                                        <p>
                                            {% if client.zipcode is not empty and client.city is not empty %}
                                                <i>{{ client.zipcode }}</i> - {{ client.city }}<br>
                                            {% elseif client.zipcode is not empty %}
                                                <i>{{ client.zipcode }}</i>
                                            {% elseif client.city is not empty %}
                                                {{ client.city }}<br>
                                            {% endif %}
                                            {% if client.phone is not empty and client.mobile is not empty %}
                                                {{ client.phone }} / {{ client.mobile }}
                                            {% elseif client.phone is empty %}
                                                {{ client.mobile }}
                                            {% elseif client.mobile is empty %}
                                                {{ client.phone }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    <div class="admin-form">
                        <!-- Client -->
                        {% if withclient == 0 %}
                            {{ form.select('client_id', 'Client', client, 'Si votre client dort, pensez à le réveiller.') | raw }}<br>
                        {% endif %}
                        {{ form.inputswitch('inworkshop', 'En atelier ?') | raw }}
                        {{ form.inputswitch('status', 'Fonctionnel ?') | raw }}

                    </div>
                </div>
                <div class="text-right">
                    {{ form.submitDefault('Sauvegarder', 'primary') | raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
