<div class="form-default">
{{ form.inputWithIcon('fullname', false, 'user-suited', 'Nom complet') | raw }}
{{ form.inputWithIcon('pseudo', false, 'user-alt-7', "Pseudonyme de l'administrateur") | raw }}
{{ form.inputWithIcon('mail', false, 'email', 'Adresse email') | raw }}
</div>
{{ form.select('roles_id', 'Rôle utilisateur', roles) | raw }}
{% if inputpassword is defined %}
{{ form.password('password', 'Mot de passe', false) | raw }}
{% endif %}