<div class="card-custom">
    <div class="card-content">
        <div class="text-center">
            <i class="material-icons">desktop_windows</i>
            <h2>Matériel déposé</h2>
        </div>
        <div class="text-center">
            <span class="small-txt-h2 text-center dblock mb1">{{ equipment.name }} ({{ equipment.b_title }})</span>
            {% markdown %}
                {{ equipment.content }}
            {% endmarkdown %}
        </div>
    </div>
</div>

<div class="card-custom">
    <div class="card-content">
        <div class="text-center">
            <h2>Système d'exploitation</h2>
        </div>
        <div class="text-center">
            <div class="text-center mt-1 mb-1" style="font-weight:600;">
                {{ equipment.os_name }} ({{ equipment.os_architecture }})
            </div>
            ver. <span class="label primary d-inline-block">{{ equipment.os_release }}</span>
        </div>
    </div>
</div>
<div class="bloc-column">
    <div class="card-custom">
        <div class="card-content">
            <strong>Votre technicien</strong> : {{ company.director }}
        </div>
    </div>
</div>